html {
    height: 100%;
}
body {
    background-color: white;
    font-family: $font-family;
    height: 100%;
}
#app {
    height: 100%;
}
#data-editor {
    width: 100%;
    height: 250px;
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.login {
    background-color:#190b2b;
    color: #f5f5f5;
    display: table;
    height: 100%;
    padding: 0;
    text-align: center;
    width: 100%;
}
.login .login-body {
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.login-body > .container {
    position: relative;
    /* make the top edge of .inner appear in the vertical center of .outer */
    top: 50%;
    /* move .inner up by half of its height so that its middle is in the middle of .outer */
    transform: translateY(-50%);
}
.login .login-heading {
    font-size: 40px;
    margin-top: 20px;
}
.login .login-forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
}
.login-submit {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #a95dd0;
    border-color: #7520a0;
    text-transform: uppercase;
}
.login-submit:hover, .login-submit:focus, .login-submit:active {
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #9d3cce;
    border-color: #7520a0;
}
@media (min-width:767px) {
    .login {
        height: 100%;
        padding: 0;
    }
    .login .login-body .login-heading {
        font-size: 46px;
    }
    .login .login-body .login-text {
        font-size: 32px;
    }
}
.loading {
    display: inline;
}
.loading-bar {
    display: inline-block;
    width: 4px;
    height: 10px;
    margin: 0 2px;
    animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
    background-color: #337ab7;
    animation-delay: 0;
}
.loading-bar:nth-child(2) {
    background-color: #337ab7;
    animation-delay: .2s;
}
.loading-bar:nth-child(3) {
    background-color: #337ab7;
    animation-delay: .4s;
}
.loading-bar:nth-child(4) {
    background-color: #337ab7;
    animation-delay: .6s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1,1.5);
    }
    80% {
        transform: scale(1);
    }
}
#data-editor {
    height: 200px;
}
.action-response, .action-request {
    margin-top: 20px;
}
.action-label-container {
    line-height: 22px;
}
.box {
    border-color: rgba(0,0,0,0.3);
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
    color: rgba(0,0,0,0.8);
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 10px;
}
.box-error {
    background: none repeat scroll 0 0 #CC8888;
}
.box-success {
    background: none repeat scroll 0 0 #88CC88;
}
.string { color: #6B6B6B; }
.number { color: darkorange; }
.boolean { color: #5567ff; }
.null { color: #ff5d58; }
.key { color: #1F76B5; }
